<div class="container-fluid about_page_sec">
		<div class="overlay"></div>
		<div class="container about_container">
			<h3 class="about_heading">FAQs</h3>
		</div>
	</div>
	
	<div class="container-fluid welcome_sec">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="hwai_head">Hawaii Online Continuing Education (CE)</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row faq_row">
				<div class="col-md-12">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default custom_panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Who will this course appeal to?  <i class="more-less glyphicon glyphicon-minus pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>This course is perfect for those persons who have a busy schedule but need the freedom to pick and choose their times to study. This course offers those people the needed flexibility in their schedule while still providing a first class learning experience via the internet.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default custom_panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How long does the course last? <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Each course varies in length from 2-4 hours. For exact details please look at the specific description of the course(s) you are interested.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default custom_panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What does a course include? <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Each course purchased is complete and meets all the necessary requirements to receive credit for respective.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default custom_panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">What's the online advantage? <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse4" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Taking the course online allows you to progress at your own pace as your everyday life dictates. FLEXIBILITY! No need to arrange work or other events around a set class schedule. You have the freedom to take the course when it is convenient for you, a real advantage!. However, there is more! Although you work at your own pace and a schedule that is convenient for you, you still get the professional materials and instruction as in "real" classroom environment. You will be able to email questions to our professional staff and get answers within a 24 hour time period (often sooner). This is the real advantage, all resources as within a real classroom, without losing the personal instruction.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default custom_panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">How does the course operate? <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse5" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Each course varies in its respective requirements; some courses only require a test at the end of the course presentation and others only require you to attend the presentation materials. Please read the course description for details on the specific course(s).</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default custom_panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">What are the computer requirements for your courses? <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse6" class="panel-collapse collapse">
								<div class="panel-body">
									<p>You must have access to the Internet and Adobe? Flash?. Adobe? Flash? Player is the world's most pervasive software platform, used by over 2 million professionals and reaching 99% of Internet-enabled desktops. It can be downloaded for free at http://get.adobe.com/flashplayer/</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default custom_panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">What is your refund policy? <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse7" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Once paid, there is no refund. We do want you to succeed and be happy with our courses, so we work with you to ensure your success. If for any reason you are not happy with the course, please contact the support staff.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default custom_panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Didn't answer your question? <i class="more-less glyphicon glyphicon-plus pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse8" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Please contact us at Staff@hawaiirealestatece.com.</p>
								</div>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>