<div class="container-fluid about_page_sec">
		<div class="overlay"></div>
		<div class="container about_container">
			<h3 class="about_heading">FAQs</h3>
		</div>
	</div>
	
	<div class="container-fluid welcome_sec">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="hwai_head">Hawaii Online Continuing Education (CE)</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row faq_row">
				<div class="col-md-12">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default custom_panel" *ngFor="let faq of faqs; let i = index">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{faq.id}}">{{faq.question}}<i class="more-less glyphicon {{ i==0? 'glyphicon-minus' : 'glyphicon-plus' }} pull-right"></i></a>
								</h4>
							</div>
							<div id="collapse{{faq.id}}" class="panel-collapse collapse {{ i==0? 'in' : '' }}">
								<div class="panel-body">
									<p>{{faq.answer}}</p>
								</div>
							</div>
						</div>
						
					</div> 
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<script>
		$(function(){
			function toggleIcon(e) {
				$(e.target)
				.prev('.panel-heading')
				.find(".more-less")
				.toggleClass('glyphicon-plus glyphicon-minus');
			}
			$('.panel-group').on('hidden.bs.collapse', toggleIcon);
			$('.panel-group').on('shown.bs.collapse', toggleIcon);
		});
	
		
	</script>