<div class="container-fluid about_page_sec">
		<div class="overlay"></div>
		<div class="container about_container">
			<h3 class="about_heading">COURSES</h3>
		</div>
	</div>
	
	<div class="container-fluid welcome_sec">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="hwai_head">Hawaii Online Continuing Education (CE)</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="about_contnt_sec">
						<h3>PACKAGES</h3>
						<ul class="package_ul">
							<li><a href="#"><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> 21-hour Electives Only Restoration Package</a></li>
							<li><a href="#"><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> 12-hour Electives Only Package</a></li>
							<li><a href="#"><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> 15-hour Electives Only Package</a></li>
							<li><a href="#"><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> 30-hour Electives Only Package</a></li>
						</ul>
						<h3>Elective</h3>
						<ul class="package_ul2">
							<li><a href="#">Listing Agreements</a></li>
							<li><a href="#">Investment Fundamentals</a></li>
							<li><a href="#">Fair Housing</a></li>
							<li><a href="#">1031 Exchanges</a></li>
							<li><a href="#">Property Management</a></li>
							<li><a href="#">Policy</a></li>
							<li><a href="#">Ethics</a></li>
							<li><a href="#">Green Homes</a></li>
							<li><a href="#">Social Media</a></li>
							<li><a href="#">Buyer Representation</a></li>
							<li><a href="#">Settlement</a></li>
							<li><a href="#">Disclosure</a></li>
							<li><a href="#">Foreclosure</a></li>
							<li><a href="#">Commercial Sale</a></li>
							<li><a href="#">Valuation of Commercial Property</a></li>
							<li><a href="#">BPO and CMA</a></li>
							<li><a href="#">Math</a></li>
							<li><a href="#">Valuation</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="about_contnt_sec">
						<h3>COURSES</h3>
					</div>
					<div class="clearfix"></div>					
				</div>
			</div>		
				<div class="clearfix"></div>
			<div class="row">
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Electives Only Restoration Package (21 hrs) </h3>
							<p>Meet 21 hours of your CE requirement with this specially priced restoration package.</p>
							<ul class="course_ul">
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> BPO and CMA: How to Value Residential Property (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Applied Ethics in Practice: Case Studies (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Settlement Process - HUD-1, RESPA and the GFE (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Foreclosure Resolution Law in Hawaii (6 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> About Fair Housing for Real Estate Practitioners (3 hours)</li>
							</ul>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$199.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Electives Only Package (12 hrs)   </h3>
							<p>Meet your 10 or 12 hour license reactivation requirement with this specially priced package</p>
							<ul class="course_ul">
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> 1031 Exchanges (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Fair Housing (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Property Management and Managing Risk (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Applied Ethics in Practice: Case Studies (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> About Fair Housing for Real Estate Practitioners (3 hours)</li>
							</ul>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$114.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row single_course_row">
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Electives Only Package (15 hrs)</h3>
							<p>Renew or reactivate your license with this 15-hour CE course package.</p>
							<ul class="course_ul">
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> 1031 Exchanges (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Fair Housing (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Property Management and Managing Risk (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Policies to Reduce Risk (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Applied Ethics in Practice: Case Studies (3 hours)</li>
							</ul>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$139.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Electives Only Package Package (30 hrs)</h3>
							<p>Meet 30-hour elective CE requirements with this specially priced package.</p>
							<ul class="course_ul">
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Social Media Technology and Advertising Rules (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Applied Ethics in Practice: Case Studies (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Policies to Reduce Risk (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> 1031 Exchanges (3 hours)</li>
								<li><i class="fa fa-angle-right right_icn3" aria-hidden="true"></i> Fair Housing (3 hours)</li>
							</ul>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$239.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			
			<div class="row single_course_row">
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Listing and Buyer Agreements (3 hrs) </h3>
							<p class="single_p">This three-hour elective, CE credit course on valuation is accepted by the State of Hawaii. The course is written to provide the licensee with a better understanding of listing agreements.  </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$39.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Fundamentals of Investment Property (6 hrs)</h3>
							<p class="single_p">This six-hour elective, CE credit course on valuation is accepted by the State of Hawaii. The course is written to provide the licensee with a better understanding of the valuation process in the practice of real estate.  </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$79.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			
			<div class="row single_course_row">
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Buyer Representation (3 hrs)</h3>
							<p>Buyer Representation is a three hour course accepted for Continuing Education credit by the Hawaii Real Estate Commission.</p>
							<p>This course reviews the methods of creating buyer agency, methods of developing new business and duties of the buyer agent. </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$39.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Settlement Process - HUD1, RESPA, & the GFE (3 hrs)</h3>
							<p>Settlement is a three hour course accepted for Continuing Education credit by the Hawaii Real Estate Commission.</p>
							<p>This course conveys key information regarding two major changes in government regulations have changed the way settlement takes place. </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$114.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			
			<div class="row single_course_row">
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Social Media Technology & Advertising Rules (3 hrs)</h3>
							<p>Social Media is a three hour course accepted for Continuing Education credit by the Hawaii Real Estate Commission.</p>
							<p>This course covers using social media and the advertising rules and guidelines that will allow you to make use of online media and advertising in a way that is compliant with Hawaii law and administrative rules. </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$39.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Disclosures in Residential Transactions (6 hrs)</h3>
							<p>Disclosures is a six hour course accepted for Continuing Education Credit by the Hawaii Real Estate Commission.</p>
							<p>This course offers the latest risk reduction and mitigation techniques that use knowledge and compliance of the new laws.This course offers the latest risk reduction and mitigation  </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$79.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			
			<div class="row single_course_row">
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Foreclosure Resolution Law in Hawaii (6 hrs)</h3>
							<p>Foreclosure Resolution is a six hour course accepted for Continuing Education Credit by the Hawaii Real Estate Commission.</p>
							<p>This course is designed to educate the CE Student on the subject of Foreclosure Resolution Law in Hawaii. </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$79.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>About Fair Housing Real Estate Practitioners (3hrs)</h3>
							<p>Fair Housing is a three hour course accepted for Continuing Education Credit by the Hawaii Real Estate Commission.</p>
							<p>This course is designed to educate the CE Student on the subject of the Federal and State Fair Housing Laws.</p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$39.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			
			<div class="row single_course_row">
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Understanding and Marketing Green Homes (3 hrs)</h3>
							<p>Green Homes is a three hour course accepted for Continuing Education Credit by the Hawaii Real Estate Commission.</p>
							<p>This course is a must for all agents who want to provide good service for clients interested in Green and/or LEED homes. </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$39.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Applied Ethics in Practice: Case Studies (3 hrs)</h3>
							<p>This advanced level, three-hour elective, CE credit course on Applied Ethics is accepted by the State of Hawaii.</p>
							<p>The course is written to provide the licensee with a better understanding of ethical dillemas in the practice of real estate through case studies.</p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$39.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			
			<div class="row single_course_row">
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>1031 Exchange for Real Estate Practitioners(3 hrs)</h3>
							<p>The three hour elective course on 1031 Exchange is offered in compliance with fulfillment of the Continuing Education requirement set by the Hawaii Real Estate Commission.The course is designed for the real estate professional seeking to learn the requirements,</p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$39.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
					<div class="col-md-6">
						<div class="single_course_sec">
							<h3>Property Management: How to Reduce Risk(3 hrs)</h3>
							<p>Property Management is a three-hour, intermediate level, elective CE course accepted by the State of Hawaii for CE credit. The course covers the role of the property manager, fair housing fair housing laws, fiduciary duty, and rental forms. </p>
							<div class="course_social_sec">
								<ul class="course_social_ul">
									<li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="print"><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
									<li class="mail"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
									<li class="more"><a href="#" data-toggle="tooltip" data-placement="right" title="more"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="read_btn_sec">
								<a href="#" class="read_btn">Read More</a>
								<a href="#" class="sign_btn3">Sign Up</a>
								<span class="pull-right">
									<p class="price3">$39.95</p>	
								</span>
							</div>
							
						</div>
					</div>	
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			
		</div>
	</div>