<div class="panel panel-default">
	<div class="panel-body">
		<div class="media">
			<div align="center">
				<img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
			</div>
			<div>

				<div class="list-group">
					<a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="list-group-item" routerLink="/dashboard">Dashboard</a>
					<a [routerLinkActive]="['active']" class="list-group-item" routerLink="/enrollments">Enrollments</a>
					<a [routerLinkActive]="['active']" class="list-group-item" routerLink="/orders">Orders</a>
					<a class="list-group-item" (click)="_auth.logout()" href="javascript:;">Logout</a>
				</div>

			</div>
		</div>
	</div>
</div>