<div class="container-fluid about_page_sec">
	<div class="overlay"></div>
	<div class="container about_container">
		<h3 class="about_heading">Dashboard</h3>
	</div>
</div>

<div class="container-fluid welcome_sec">
	<div class="container">
		<div class="row">

			
			<div class="mainbody container-fluid">
				<div class="row">
					<div class="navbar-wrapper">
						<div class="container-fluid">
							
							<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
								<app-user-side-bar>
								</app-user-side-bar>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
								<div class="panel panel-default">
									<div class="panel-body">
										
										<div class="alert alert-info">Order details will be here</div>
										
									</div>
								</div>
								<hr>
								
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>