<div class="container-fluid about_page_sec">
	<div class="overlay"></div>
	<div class="container about_container">
		<h3 class="about_heading">Login</h3>
	</div>
</div>

<div class="container-fluid welcome_sec">
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-md-offset-3">
				<h2>Login</h2>
				<!-- <div class="panel-body">
					<div class="row">
						<div class="input-field col s12">
							<input [(ngModel)]="user.email" id="email" 
							type="email" class="validate">
							<label for="email">Email</label>
						</div>
					</div>
					
					<div class="row">
						<div class="input-field col s12">
							<input [(ngModel)]="user.password" id="password" 
							type="password" class="validate">
							<label for="password">Password</label>
						</div>
					</div>
					
					<span>{{errorMsg}}</span>
					<button (click)="login()" 
					class="btn waves-effect waves-light" 
					type="submit" name="action">Login</button>
				</div>
			</div> -->
			
		</div>

	</div>
</div>