<div class="container-fluid about_page_sec">
	<div class="overlay"></div>
	<div class="container about_container">
		<h3 class="about_heading">Login</h3>
	</div>
</div>

<div class="container-fluid welcome_sec">
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-md-offset-3">
				<h2>Login</h2>
				<div class="panel-body">
					<div class="row">
						<p class="alert alert-danger" *ngIf='errorMsg'>{{errorMsg}}</p>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="email">Email</label>
							<input id="email" type="email" class="form-control" [(ngModel)]="user.email">
							
						</div>
					</div>
					
					<div class="row">
						<div class="form-group">
							<label for="password">Password</label>
							<input id="password" type="password" class="form-control" [(ngModel)]="user.password">
							
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<button (click)="login()" class="btn btn-success" type="submit">Login</button>
						</div>
					</div>
					
					
				</div>
			</div>
			
		</div>

	</div>
</div>