<div class="container-fluid about_page_sec">
		<div class="overlay"></div>
		<div class="container about_container">
			<h3 class="about_heading">CONTACT US</h3>
		</div>
	</div>
	
	<div class="container-fluid welcome_sec">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="hwai_head">Get In Touch</h3>
					<img src="images/border4.png" class="img-responsive touch_img">
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-7 col-sm-6">

					<div class="row alert alert-danger" *ngIf='errorMsg'>
						<p *ngFor='let error of errorMsg;'>{{error}}</p>
					</div>

					<div class="form-group custom_form">
						<label for="usr">Name:</label>
						<input type="text" class="form-control" id="usr" [(ngModel)]="contact.name">
					</div>
					<div class="form-group custom_form">
						<label for="usr">Email:</label>
						<input type="email" class="form-control" id="usr" [(ngModel)]="contact.email">
					</div>
					<div class="form-group custom_form">
						<label for="usr">Phone:</label>
						<input type="text" class="form-control" id="usr" [(ngModel)]="contact.phone">
					</div>
					<div class="form-group custom_form2">
						<label for="comment">Comment:</label>
						<textarea class="form-control" rows="5" id="comment" [(ngModel)]="contact.comment"></textarea>
					</div>
					<div class="send_btn_sec">
						<a href="javascript:;" (click)="comment()" class="send_btn pull-left" >SEND</a>

						<div class="row alert alert-success pull-right" *ngIf='successMsg'>
							<p>{{successMsg}}</p>
						</div>
					</div>
					
				</div>
				<div class="col-md-5 col-sm-6">
					<h3 class="address_heading">Address</h3>
					<div class="location_sec2">
						<div class="location_icn_sec">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="location_contnt_sec">
							<p>REMI School of Real Estate / Digital Learning Centers 9830 Mayland Dr, Suite C Henrico, VA 23233</p>
						</div>
					</div>
					<div class="location_sec2">
						<div class="phone_icn_sec">
							<i class="fa fa-mobile" aria-hidden="true"></i>
						</div>
						<div class="location_contnt_sec">
							<p> (808) 230-8200</p>
						</div>
					</div>
					<div class="location_sec2">
						<div class="email_icn_sec">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</div>
						<div class="location_contnt_sec">
							<p>Staff@hawaiirealestatece.com</p>
						</div>
					</div>
					<div>
						<img src="images/google.JPG" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>