<div class="container-fluid top_section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="pull-left email_left_sec">
					<span class="email_sec">
						<!-- <i class="fa fa-envelope-o email_icn" aria-hidden="true"></i> -->
						<span class="email_text">Welcome</span>
					</span>
					<span class="email_sec">
						<!-- <i class="fa fa-mobile phone_icn" aria-hidden="true"></i> -->
						<span class="email_text" *ngIf="authService.isLoggedIn">
							{{current_user.email}}
						</span>

						<span class="email_text" *ngIf="!authService.isLoggedIn">
							Guest
						</span>

					</span>
				</div>
				<div class="pull-right topbar_signup_sec">
					<ul class="nav navbar-nav navbar-right right_ul">
						<li class="signup_li"><a routerLink="/signup" *ngIf="!authService.isLoggedIn">Sign Up</a></li>
						<li class="login_li"><a routerLink="/login" *ngIf="!authService.isLoggedIn">Login</a></li>

						<li class="signup_li"><a routerLink="/dashboard" *ngIf="authService.isLoggedIn">Dashboard</a></li>
						<li class="login_li"><a (click)="logout()" href="javascript:;" *ngIf="authService.isLoggedIn">Logout</a></li>

					</ul>
				</div>
				<div class="pull-right topbar_social">
					<ul class="social_icn_ul">
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>  
		</div>  
		<div class="clearfix"></div>
	</div>
</div>

<div class="container-fluid navbar_sec">
	<div class="navbar_position">
		<div class="container">
			<div class="row nav_row">
				<nav class="navbar navbar-inverse">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle toggle_btn" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>                        
						</button>
						<a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt="logo" class="logo_img img-responsive"></a>
					</div>
					<div class="collapse navbar-collapse mynav pull-right" id="myNavbar">
						<ul class="nav navbar-nav custom_navbar_ul">
							<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink='/' class="page-scroll">Home</a></li>
							<li [routerLinkActive]="['active']"><a routerLink='about' class="page-scroll" >About Us</a></li>
							<li [routerLinkActive]="['active']"><a routerLink="courses" class="page-scroll">Courses</a></li>
							<li [routerLinkActive]="['active']"><a routerLink="testimonials" class="page-scroll">Testimonial</a></li>
							<li [routerLinkActive]="['active']"><a routerLink="faq" class="page-scroll">FAQs</a></li>
							<li [routerLinkActive]="['active']"><a routerLink="contact" class="page-scroll">Contact Us</a></li>
						</ul>
					</div>
				</nav>
				<div class="clearfix"></div>
			</div>  
		</div>
	</div>  
</div>
<router-outlet></router-outlet>

<div class="container-fluid copyright_sec">
	<div class="container">
		<div class="row">
			<div class="copyright_p_sec text-center">
				<p class="copyright_p">Copyright © 2005 - 2017 SONUSINDHU.COM | All Rights Reserved.</p>
			</div>
		</div>
		<div class="clearfix"></div>  
	</div>
</div>