<div class="container-fluid about_page_sec">
		<div class="overlay"></div>
		<div class="container about_container">
			<h3 class="about_heading">TESTIMONIAL</h3>
		</div>
	</div>
	
	<div class="container-fluid welcome_sec">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="hwai_head">Hawaii Online Continuing Education (CE)</h3>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row faq_row">
				<div class="about_contnt_sec">
						<h3>Student Testimonials</h3>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="testimonial_main_box">
						<p>Digital Learning has made it so easy and comfortable for me to learn. The fact that I was at my own home and comfort zone. As a slow leaner the instructor gave great examples, simple and repeating examples made it even more easier to understand questions. I love the whole idea of learning at home. Learning at my own pace is the best. The instructor alone was very precise and thorough about each and every chapter. He made it very clear and learnable for us to make sure we know how to solve every problem. I love it and I would definitely refer friends that are interested in taking this class. Overall, the experience and the learning materials I receive from the learning center has made it really easy for me to learn. Thank You and Thank You again.</p>
						<div class="client_name_sec pull-right">
							<p>-- F. ESAU</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>Wow, solid content! It is so nice to take this course online. The distractions inherint in the live classes are completely eliminated, my biggest joy in taking these online</p>
						<p>Great course! Thank you so much!</p>
						<div class="client_name_sec pull-right">
							<p>-- B. Bowman</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>Easy to use again! I am surprised the "live class" people are still in business. This is a very convenient way to take classes. I hope you will incorporate more classes in the future. I personally like to take as many classes as possible and not just the mandatory CE classes.</p>
						<div class="client_name_sec pull-right">
							<p>-- J. Rabi</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>I have found that this online course was very informational and not at all what I thought it would be. It was great to work at my own place, especially with my work schedule and taking care of my family. I have enjoyed this course very much and I have learned a whole lot more than what I first started with. Thank you for helping me broaden my mind.</p>
						<div class="client_name_sec pull-right">
							<p>-- C. Castro</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>Thank you very much dower school of real estate windward [Digital Learning Centers];you have prepared me well for a career in real estate, which is my dream you helped make possible; i can answer a thousand questions on real estate thanks to you;thank you kaihow for all your help!you're quite excellent!</p>
						<div class="client_name_sec pull-right">
							<p>-- d. dunn</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>I found the online class so easy to learn from and follow. It was such experience. I found the tone of voice of the narrator pleasant, yet firm enough to keep my attention and it was important that the intonation changed, and tone raised and fell.</p>
						<div class="client_name_sec pull-right">
							<p>-- M. Long</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>I was very impressed by the online course. Going into it I was very apprehensive, but after a couple of courses, there was a steady flow. It was very user friendly. I actually really enjoyed it and expanded my knowledge more than I expected. It was informative, challenging, but most of all convenient- with work, family, and other outside commitments- IT WAS GREAT...this course was on my schedule and I really appreciated that factor. Thank you for my making my hectic life a little easier. </p>
						<div class="client_name_sec pull-right">
							<p>-- T. Blanchfieldchang</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>I liked the repetition of the material from different approaches--that helps the information to stick.An overall well-done presentation and I believe I learned more than from some of the "live" classes I attended plus this was way much more efficient in terms of time and energy. Thank you very much!</p>
						<div class="client_name_sec pull-right">
							<p>-- L. Tilton</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>In terms of work and personal schedules, this course enabled me to fulfil the CE requirements. I have recommended this CE program to my realtor colleagues. Hopefully, this will be available when the next round of CE requirements are due.</p>
						<div class="client_name_sec pull-right">
							<p>-- G. Kilpinen</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>DLC online CE courses are very informative and best of all no quizzes and tests. It focuses on providing information for all students to be updated with new laws and information.</p>
						<div class="client_name_sec pull-right">
							<p>-- T. Abubo</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>I have highly recommended your online courses to several co- workers. One is going to take your Brokers course and one has already passed his salesman license through your services.Mahalo</p>
						<div class="client_name_sec pull-right">
							<p>-- Nancie Martens, RB</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>I like the use of online course work. I hope this is the trend with CE requirements. I feel that I got more out this online class than a class at HBR. Very well done and concise.</p>
						<div class="client_name_sec pull-right">
							<p>-- D Lambertson</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>I would highly recommend David Catanzaro's course to other Realtors looking to get their Broker's licenseThanks for all your help David!!!</p>
						<div class="client_name_sec pull-right">
							<p>-- J. McGowan</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>I really enjoyed the online experience. This is the first time I have done any kind of learning on line. I love the fact that I can go back to all the tests to redo, and can stop and make notes as needed. The instructor was excellent. He really made me feel like I was actually in the classroom. After reading the chapters and then doing the online chapters his explanations were clear and made everthing easy to understand.</p>
						<div class="client_name_sec pull-right">
							<p>-- L. Camacho</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>The course was great, the material presented well and in a thorough manner. I LOVED IT and felt like it was perfectly designed for someone like me that likes to self pace and study.</p>
						<div class="client_name_sec pull-right">
							<p>-- J. Friedman</p>
						</div>
					</div>
					<div class="testimonial_main_box">
						<p>Because of the content this coarse was abit harder to finish in one sitting. However the way the material was presented made it easier to sit through it. Overall a great experience as this is my first year taking CE classes online.</p>
						<div class="client_name_sec pull-right">
							<p>-- C. Choy</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>