<div class="container-fluid banner_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12 text-right pull-right banner_col_sec">
        <div class="banner_content_sec">
          <h3>Online Course Academy</h3>
          <p>The 20-hour, continuing-education package provides 20 hours of CE credit which can be used towards license renewal or reactivation. It was designed to meet the CE elective requirements of salespersons and brokers seeking to renew their license and the CE requirements of salespersons and brokers seeking to restore their license after one year (but less than four) of forfeiture. Students completing the courses will receive 20--hours of credit towards their CE requirements</p>
          <div class="buy_btn_sec text-center">
            <a href="#" class="buy_btn">Buy Now</a>
            <a href="#" class="more_btn">More Info</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid about_sec" id="about">
  <div class="container">
    <h3 class="portfolio_heading">ABOUT <span>US</span></h3>
    <div class="border_sec"><img src="assets/images/border.png" class="img-responsive"></div>
    <div class="row">
      <div class="col-md-7  about_col_sec">
        <h3 class="hawai_heading">Online Course Academy</h3>
        <p class="about_p">Earn your real estate continuing education (CE) credits with our online courses from home at your own pace 24/7! You may substitute comparable electives for those listed in the packages below: Please contact us after enrolling and we will make the change(s) for you.</p>
        <p class="about_p2">Phone: (808) ######### or Email: sonupnf@gmail.com .</p>
        <p class="about_p2">REMI School of Real Estate is approved by the Hawaii Real Estate Commission and has met the standards for offering Hawaii real estate prelicense and continuing education. To become licensed, visit our pre-licensing website</p>
      </div>
      <div class="col-md-5">
        <div class="price_main_sec">
          <img src="assets/images/pricematch.png" class="img-responsive price_img">
          <h3>Price Match Guarantee</h3>
          <p>We are committed to providing excellent courses at the best prices.</p>
          <p class="padding_p">At the time of purchase, we will match a competitor's current price for a HIREC approved 20-hour CE Package. Simply email us.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="container-fluid client_sec" id="testimonial">
  <div class="container client_container">
    <h3 class="portfolio_heading">OUR <span>CLIENTS</span></h3>
    <div class="border_sec"><img src="assets/images/border4.png" class="img-responsive"></div>
    <div class="row client_row">
      <div class="col-md-6 col-sm-6">
        <div class="client_main_sec">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <div class="carousel-caption">
                  <img src="assets/images/quote_1.png" class="img-responsive">
                  <h3></h3>
                  <p>I liked the repetition of the material from different approaches--that helps the information to stick.An overall well-done presentation and I believe I learned more than from some of the "live" classes I attended plus this was way much more efficient in terms of time and energy. Thank you very much!</p>
                  <span class="text-center client_name">-- L. Tilton</span>
                  <img src="assets/images/quote_2.png" class="img-responsive pull-right">
                </div>
              </div>
              <div class="item">
                <div class="carousel-caption">
                  <img src="assets/images/quote_1.png" class="img-responsive">
                  <h3></h3>
                  <p>I really enjoyed the online experience. This is the first time I have done any kind of learning on line. I love the fact that I can go back to all the tests to redo, and can stop and make notes as needed. The instructor was excellent. He really made me feel like I was actually in the classroom. </p>
                  <span class="text-center client_name">-- L. Camacho</span>
                  <img src="assets/images/quote_2.png" class="img-responsive pull-right">
                </div>
              </div>
              <div class="item">
                <div class="carousel-caption">
                  <img src="assets/images/quote_1.png" class="img-responsive">
                  <h3></h3>
                  <p>Easy to use again! I am surprised the "live class" people are still in business. This is a very convenient way to take classes. I hope you will incorporate more classes in the future. I personally like to take as many classes as possible and not just the mandatory classes.</p>
                  <span class="text-center client_name">-- J. Rabi</span>
                  <img src="assets/images/quote_2.png" class="img-responsive pull-right">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="developed_sec">
          <h3>Developed in Hawaii</h3>
          <p>Our courses are developed locally, and our instructor, David Catanzaro, has taught and practiced real estate in Hawaii for over 20 years. Hawaii's culture and real estate market are unique. Don't risk your tuition money on an out-of-state provider. Real estate is a local business requiring knowledge of Hawaii and the way Hawaii works.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="container-fluid sponsers_sec">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 center_block">
        <div class="sponser_col">
          <img src="assets/images/sponser-1.gif" class="img-responsive">
          <img src="assets/images/sponser-2.jpg" class="img-responsive">
          <img src="assets/images/sponser-3.gif" class="img-responsive">
          <img src="assets/images/sponser-4.gif" class="img-responsive">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>